:host {
  box-sizing: border-box;
  padding: 16px;
  height: 100%;
  display: flex;

  ::ng-deep .mat-list-text {
    flex-direction: row !important;
  }
}

.mat-card {
  display: flex;
  flex-direction: column;
}

.add-task-button {
  position: fixed;
  right: 8px;
  bottom: 8px;
}

.body-wrapper {
  display: flex;
}
