<mat-card class="full-width">
  <mat-card-title i18n="@@title.tasks-list">Tasks list</mat-card-title>

  <div class="body-wrapper flex-spacer">
    <mat-selection-list *ngIf="list$ | async as list" class="flex-spacer" [multiple]="false">
      <mat-list-option *ngFor="let item of list; trackBy: trackTask" class="lock-selection" [value]="item"
        [selected]="item.id === selected?.id" [routerLink]="[item.id]" (click)="selected = item">
        {{item.title}}
        <span class="flex-spacer"></span>
        {{item.deadline.toDate() | date:'shortDate'}}
      </mat-list-option>

      <mat-list-option *ngIf="!list.length" class="lock-selection" i18n="@@content.tasks-list.empty"
        (click)="addNewTask()">
        Any tasks are absent. Click here or click add button to add the first task.
      </mat-list-option>
    </mat-selection-list>

    <router-outlet></router-outlet>
  </div>
</mat-card>

<button class="add-task-button" mat-fab color="accent" aria-label="Add a new task"
  i18n-aria-label="@@label.new-task" (click)="addNewTask()">
  <mat-icon>add</mat-icon>
</button>
