:host {
  box-sizing: border-box;
  padding: 16px;
  width: 100%;
  height: 100%;
  display: flex;

  ::ng-deep .mat-list-text {
    flex-direction: row !important;
  }
}

.mat-card {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

.mat-selection-list {
  margin: 0;
  overflow: auto;

  &.combined {
    @media (max-width: 599px) {
      display: none;
    }
  }
}

.add-task-button {
  position: fixed;
  right: 8px;
  bottom: 8px;
}

.body-wrapper {
  display: flex;
  overflow: hidden;
  position: relative;
}

.mat-list-option {
  position: relative;

  &.task-closed {
    color: silver;
    opacity: 0.75;

    &::after {
      content: "";
      border-top: 1px solid silver;
      position: absolute;
      left: 8px;
      right: 8px;
      top: 50%;
    }
  }

  // &::before {
  //   content: "";
  //   border-left: 1px solid silver;
  //   border-right: 1px solid silver;
  //   margin: 6px;
  //   padding: 0 1px;
  //   display: block;
  //   position: absolute;
  //   left: 0;
  //   top: 0;
  //   bottom: 0;
  //   opacity: 0.5;
  // }
}

.cdk-drag-preview {
  box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.3);
  background: white;
  border-radius: 6px;
  padding: 0 16px;
  display: flex;
  align-items: center;
  overflow: hidden;

  .deadline {
    display: none;
  }
}

.cdk-drag-placeholder {
  opacity: 0.25;
}

.cdk-drag-animating,
.cdk-drop-list-dragging .action-wrapper:not(.cdk-drag-placeholder) {
  transition: transform 250ms cubic-bezier(0, 0, 0.2, 1);
}

.task-burning {
  background: #f9f9d9;
}

.task-expired {
  background: #ffd5d5;
  color: #6b0000;
}
