:host {
  box-sizing: border-box;
  padding: 16px;
  height: 100%;
  display: flex;

  ::ng-deep .mat-list-text {
    flex-direction: row !important;
  }
}

.mat-card {
  display: flex;
  flex-direction: column;
}

.mat-selection-list {
  margin: 0;
  overflow: auto;
}

.add-task-button {
  position: fixed;
  right: 8px;
  bottom: 8px;
}

.body-wrapper {
  display: flex;
}

.task-closed {
  color: silver;
  opacity: 0.75;
  position: relative;

  &::before{
    content: "";
    border-top: 1px solid silver;
    position: absolute;
    left: 8px;
    right: 8px;
    top: 50%;
  }
}
