<ng-container *ngIf="task$ | async as task">
  <mat-toolbar>
    <button mat-stroked-button [color]="task?.closed ? 'accent' : 'primary'" [matMenuTriggerFor]="menu">
      <ng-container *ngIf="task?.closed; else statusInProgress" i18n="@@action.close">Close</ng-container>
    </button>

    <ng-template #statusInProgress>
      <ng-container i18n="@@action.in-progress">In progress</ng-container>
    </ng-template>

    <mat-menu #menu="matMenu">
      <button mat-menu-item i18n="@@action.in-progress" (click)="switchStatus(false)">In progress</button>
      <button mat-menu-item i18n="@@action.close" (click)="switchStatus(true)">Close</button>
    </mat-menu>

    <span class="flex-spacer"></span>

    <button mat-icon-button i18n="@@action.edit" aria-label="Edit" (click)="editTask()">
      <mat-icon>edit</mat-icon>
    </button>

    <button mat-icon-button i18n="@@action.close" aria-label="Close" routerLink="..">
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>

  <fieldset>
    <legend i18n="@@field.task.title">Title</legend>
    {{task?.title}}
  </fieldset>

  <fieldset>
    <legend i18n="@@field.task.description">Description</legend>
    {{task?.description}}
  </fieldset>

  <fieldset>
    <legend i18n="@@field.task.deadline">Deadline</legend>
    {{task?.deadline?.toDate() | date:'shortDate'}}
  </fieldset>
</ng-container>
